/*
.forecast-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
*/
/*
.forecast-container::before {
  box-shadow: -5px -5px 10px #ffffff;
}

.forecast-container::after {
  box-shadow: 5px 5px 10px #d9d9d9;
}
/*
.dailyForecastCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  margin: 1rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  min-width: 175px;
  max-width: 175px;
  height: 300px;
  transition: all 0.5s ease-in-out;
}

.dailyForecastCard::before,
.dailyForecastCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.dailyForecastCard::before {
  box-shadow: -5px -5px 10px #ffffff;
}

.dailyForecastCard::after {
  box-shadow: 5px 5px 10px #d9d9d9;
}

.dailyForecastCard:hover::before {
  box-shadow: -10px -10px 20px #ffffff;
}

.dailyForecastCard:hover::after {
  box-shadow: 10px 10px 20px #d9d9d9;
}
*/

/*
.search-bar::before,
.search-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
}

.search-bar::before {
  box-shadow: -2px -2px 5px #ffffff;
}

.search-bar::after {
  box-shadow: 2px 2px 5px #d9d9d9;
}

.search-button:hover {
  background-color: #d1d1d1;
}
*/
